.calendar-holiday {
    text-decoration: underline;
}

.calendar-date-label {
    width: 150px;
    padding: .4em 0;
    font-size: 0.8em;
    border: 0 !important;
}

.calendar-event-label {
    width: 150px;
    padding-bottom: 2em;
    font-size: 0.8em;
    border: 0 !important;
}

.calendar-date-label:hover {
    background-color: rgba(128, 128, 128, .1);
}

.calendar-preferences-button {
    padding: 2px;
}

.calendar-preferences-button:hover {
    background-color: rgba(128, 128, 128, .1);
}

