.pcalendar-tray-font {
    font-family: Vazir, sans-serif;
    font-weight: 500;
}

.pcalendar-tray-holiday {
    text-decoration: underline;
    font-weight: 900;
}

.pcalendar-font {
    font-family: Vazir, sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.pcalendar-day-with-events {
    font-weight: 900;
}

.pcalendar-nonwork-day {
    font-weight: bold;
}

.pcalendar-month-label {
    font-size: 1.2em;
}

.pcalendar-weekday, .pcalendar-day {
    font-size: 1.1em;
    height: auto;
}

.pcalendar-date-label {
    padding: .4em 0;
}

.pcalendar-event-label {
    text-align: right;
    padding: 0;
}

.pcalendar-date-label:hover {
    background-color: rgba(128, 128, 128, .1);
}

.pcalendar-preferences-button {
    padding: 2px;
}

.pcalendar-preferences-button:hover {
    background-color: rgba(128, 128, 128, .1);
}

.pcalendar-rtl {
    direction: rtl;
}

.pcalendar-button {
    border-radius: 0 0 0 0;
    border: 1px solid black;
    padding: 5px;
}

.pcalendar-button.active {
    background-color: #bbb;
    color: #333;
}

.pcalendar-button.fromPersian {
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.pcalendar-button.fromHijri {
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.pcalendar-converter-box {
    padding: 5px 0;
}

.pcalendar-converter-entry {
    margin-left: 5px;
    margin-right: 5px;
}

/**/
@font-face {
    font-family: Vazir;
    src: url('../../../fonts/pcalendarFonts/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../../../fonts/pcalendarFonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../../../fonts/pcalendarFonts/Vazir-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: Vazir;
    src: url('../../../fonts/pcalendarFonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('../../../fonts/pcalendarFonts/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('../../../fonts/pcalendarFonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}
