.pcalendar-calendar_container:hover {
    background: inherit;
}
.pcalendar-tray-font {
    font-family: Vazirmatn, sans-serif;
    font-weight: 500;
}

.pcalendar-tray-holiday {
    text-decoration: underline;
    font-weight: 900;
}

.pcalendar-font {
    font-family: Vazirmatn, sans-serif;
}

.pcalendar-day-with-events {
}

.pcalendar-nonwork-day {
}

.pcalendar-month-label {
    font-size: 1.2em;
}

.pcalendar-weekday, .pcalendar-day {
    font-size: 1.1em;
    height: auto;
}

.pcalendar-date-label {
    padding: .1em 1em;
    width: auto;
}

.pcalendar-event-label {
    text-align: right;
    padding: 0;
}

.pcalendar-date-label:hover {
    background-color: rgba(128, 128, 128, .1);
}

.pcalendar-preferences-button {
    padding: 2px;
}

.pcalendar-preferences-button:hover {
    background-color: rgba(128, 128, 128, .1);
}

.pcalendar-button {
    border-radius: 0 0 0 0;
    border: 1px solid black;
    padding: 5px;
}

.pcalendar-button.active {
    background-color: #bbb;
    color: #333;
}

.pcalendar-button.fromPersian {
    border-radius: 0 3px 3px 0;
    border-left: none;
}

.pcalendar-button.fromHijri {
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.pcalendar-converter-box {
    padding: 5px 0;
}

.pcalendar-converter-entry {
    margin-left: 5px;
    margin-right: 5px;
}

/**/
@font-face {
    font-family: Vazirmatn;
    src: url('../../../fonts/pcalendarFonts/Vazirmatn-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../../../fonts/pcalendarFonts/Vazirmatn-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../../../fonts/pcalendarFonts/Vazirmatn-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../../../fonts/pcalendarFonts/Vazirmatn-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../../../fonts/pcalendarFonts/Vazirmatn-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../../../fonts/pcalendarFonts/Vazirmatn-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../../../fonts/pcalendarFonts/Vazirmatn-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../../../fonts/pcalendarFonts/Vazirmatn-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('../../../fonts/pcalendarFonts/Vazirmatn-Black.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
